#! /bin/bash

# for each valid key under .env, export it
if [ ! -f .env ]; then
  echo "No .env file found"
  return
fi

dotenv=.env
export $(cat $dotenv | grep -v '^#' | xargs)

alias npm="bun"
alias w="bunx wrangler"
