---
import { SITE_DESCRIPTION } from '../../consts';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Contact" description={SITE_DESCRIPTION}>
	<h1>Contact Me</h1>
	<p>Feel free to reach out!</p>
	<p>
		Email: <a href="mailto:your@email.com">your@email.com</a>
	</p>
</Layout>
