.roadmap-card-blue {
  border-color: #17a9bc;
}

.roadmap-card-blue:hover {
  box-shadow: -8px 8px 0 #17a9bc;
}

.roadmap-card-orange {
  border-color: #f99223;
}

.roadmap-card-orange:hover {
  box-shadow: -8px 8px 0 #f99223;
}

.roadmap-card-pink {
  border-color: #ff4cff;
}

.roadmap-card-pink:hover {
  box-shadow: -8px 8px 0 #ff4cff;
}

.roadmap-card-purple {
  border-color: #b794f4;
}

.roadmap-card-purple:hover {
  box-shadow: -8px 8px 0 #b794f4;
}
