---
import { SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contato" description={SITE_DESCRIPTION}>
	<h1>Entre em contato</h1>
	<p>Sinta-se livre para entrar em contato!</p>
	<p>
		E-mail: <a href="mailto:your@email.com">your@email.com</a>
	</p>
</Layout>
