---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import ogDefaultImage from '@/data/og-default';
import Layout from '@/layouts/Layout.astro';
---

<Layout title={`Contato | ${SITE_TITLE}`} description={SITE_DESCRIPTION} image={ogDefaultImage}>
  <section class="py-36">
  	<h1>Entre em contato</h1>
    <p>Sinta-se livre para entrar em contato!</p>
    <p>
      E-mail:{' '}
      <a href="mailto:contato@podcodar.org">contato@podcodar.org</a>
    </p>
  </section>
</Layout>
