---
import type { HTMLAttributes } from 'astro/types';
import { isActive } from '@/i18n/utils';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(/\/$/, '') || '/';
const hrefStr = typeof href === 'string' ? href : (href?.pathname ?? '/');
const isActiveLink = isActive(hrefStr, pathname);
---

<a
  href={href}
  class:list={[
    'btn btn-ghost',
    isActiveLink && 'btn-outline btn-primary',
    className,
  ]}
  {...props}
>
  <slot />
</a>
